@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/autoplay";

:root {
  --white: #EEEEEE;
  --black: #000000;
}

@theme inline {
  --font-heading: var(--font-londrina-solid);
  --font-body: var(--font-ropa-sans);

  --color-custom-white: #EEEEEE;
  --color-custom-white-transparent: rgba(255, 255, 255, 0.4);
  --color-custom-light-black: #1C1C21;
  --color-custom-pink: #D578CD;
  --color-custom-purple: #6A1CB9;
}

@layer utilities {
  .cus-btn-con {
    @apply relative inline-flex flex-col transition-all duration-300 ease-in-out hover:scale-105 cursor-pointer;
  }

  .cus-btn-front {
    @apply ml-0 flex flex-row items-center justify-center rounded-md px-4 py-0.5 z-20;
  }

  .cus-btn-back {
    @apply absolute inset-0 translate-x-1 translate-y-1 rounded-md z-10;
  }
}

body {
  height: 100%;
  background: var(--white);
  color: var(--black);
  font-family: var(--font-body);
  overflow-x: hidden;
}

.clip-custom {
  clip-path: polygon(10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px);
}

.custom-text-style {
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background: transparent;
  -webkit-background-clip: text;
}

.custom-text-style-white {
  -webkit-text-stroke: 1px var(--white);
}

.custom-text-style-black {
  -webkit-text-stroke: 1px var(--black);
}

.custom-text-style-pink {
  -webkit-text-stroke: 1px var(--color-custom-pink);
}

.custom-text-style-purple {
  -webkit-text-stroke: 1px var(--color-custom-purple);
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  display: flex;
  height: auto;
}

.swiper-slide>div {
  height: 100%;
  width: 100%;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.tilt-pop {
  transform: translateZ(40px);
}